# Python para Análise de Dados

In [1]:
import pandas as pd

* Lendo uma base de dados no formtao .csv
* O parâmetro sep é usado para definir qual o separador entre os dados
* O parâmetro header informa em qual linha está minhas colunas ou se elas não existem
* Se não existe colunas (Header = nome) o pandas dará um nome para cada atributo da base

In [2]:
arquivo = 'kc_house_data.csv'

In [6]:
dataset = pd.read_csv(arquivo, sep=',', header=0)

* Imprimindo o tipo da variável dataset
* Dataframe é uma estrutura de dados onde linhas podem ter colunas de diferentes tipos

In [7]:
type(dataset)

pandas.core.frame.DataFrame

* Método head() imprime as 5 linhas iniciais do dataframe

In [8]:
dataset.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3.0,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3.0,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2.0,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4.0,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3.0,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

* O parâmetro index_col informa  coluna na qual o dataframe será indexado

In [9]:
dataset = pd.read_csv(arquivo, sep=',', index_col= 'date')

In [10]:
dataset.head()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
date,,,,,,,,,,,,,,,,,,,,
20141013T000000,7129300520,221900.0,3.0,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
20141209T000000,6414100192,538000.0,3.0,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
20150225T000000,5631500400,180000.0,2.0,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
20141209T000000,2487200875,604000.0,4.0,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
20150218T000000,1954400510,510000.0,3.0,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [11]:
dataset = pd.read_csv(arquivo, sep=',', usecols=['id', 'date', 'price', 'bedrooms'])

In [12]:
dataset.head()

           id             date     price  bedrooms
0  7129300520  20141013T000000  221900.0       3.0
1  6414100192  20141209T000000  538000.0       3.0
2  5631500400  20150225T000000  180000.0       2.0
3  2487200875  20141209T000000  604000.0       4.0
4  1954400510  20150218T000000  510000.0       3.0

* Imprimindo as 100 primeiras linhas do dataframe

In [13]:
dataset.head(100)

            id             date      price  bedrooms
0   7129300520  20141013T000000   221900.0       3.0
1   6414100192  20141209T000000   538000.0       3.0
2   5631500400  20150225T000000   180000.0       2.0
3   2487200875  20141209T000000   604000.0       4.0
4   1954400510  20150218T000000   510000.0       3.0
5   7237550310  20140512T000000  1225000.0       4.0
6   1321400060  20140627T000000   257500.0       3.0
7   2008000270  20150115T000000   291850.0       3.0
8   2414600126  20150415T000000   229500.0       3.0
9   3793500160  20150312T000000   323000.0       3.0
10  1736800520  20150403T000000   662500.0       3.0
11  9212900260  20140527T000000   468000.0       2.0
12   114101516  20140528T000000   310000.0       3.0
13  6054650070  20141007T000000   400000.0       3.0
14  1175000570  20150312T000000   530000.0       5.0
15  9297300055  20150124T000000   650000.0       4.0
16  1875500060  20140731T000000   395000.0       3.0
17  6865200140  20140529T000000   485000.0       4.0
18    16000397  20141205T000000   189000.0       2.0
19  7983200060  20150424T000000   230000.0       3.0
20  6300500875  20140514T000000   385000.0       4.0
21  2524049179  20140826T000000  2000000.0       3.0
22  7137970340  20140703T000000   285000.0       5.0
23  8091400200  20140516T000000   252700.0       2.0
24  3814700200  20141120T000000   329000.0       3.0
25  1202000200  20141103T000000   233000.0       3.0
26  1794500383  20140626T000000   937000.0       3.0
27  3303700376  20141201T000000   667000.0       3.0
28  5101402488  20140624T000000   438000.0       3.0
29  1873100390  20150302T000000   719000.0       4.0
..         ...              ...        ...       ...
70  1525059190  20140912T000000  1040000.0       5.0
71  1049000060  20150105T000000   325000.0       3.0
72  8820901275  20140610T000000   571000.0       4.0
73  5416510140  20140710T000000   360000.0       4.0
74  3444100400  20150316T000000   349000.0       3.0
75  3276920270  20141105T000000   832500.0       4.0
76  4036801170  20141013T000000   380000.0       4.0
77  2391600320  20150420T000000   480000.0       3.0
78  6300000287  20140609T000000   410000.0       3.0
79  1531000030  20150323T000000   720000.0       4.0
80  5104520400  20141202T000000   390000.0       3.0
81  7437100340  20141222T000000   360000.0       4.0
82  9418400240  20141028T000000   355000.0       2.0
83  1523059105  20150128T000000   356000.0       3.0
84  1133000671  20140602T000000   315000.0       3.0
85  4232902595  20141114T000000   940000.0       3.0
86  2599001200  20141103T000000   305000.0       5.0
87  3342103156  20140618T000000   461000.0       3.0
88  1332700270  20140519T000000   215000.0       NaN
89  3869900162  20140904T000000   335000.0       2.0
90  2791500270  20140522T000000   243500.0       4.0
91  5036300431  20150311T000000  1099880.0       5.0
92  4168000060  20150226T000000   153000.0       3.0
93  6021501535  20140725T000000   430000.0       3.0
94  6021501535  20141223T000000   700000.0       3.0
95  1483300570  20140908T000000   905000.0       4.0
96  3422049190  20150330T000000   247500.0       3.0
97  1099611230  20140912T000000   199000.0       4.0
98   722079104  20140711T000000   314000.0       3.0
99  7338200240  20140516T000000   437500.0       3.0

[100 rows x 4 columns]

* Atributo columns retorna o nome das colunas do dataframe

In [14]:
dataset.columns

Index(['id', 'date', 'price', 'bedrooms'], dtype='object')

* método count() retorna a quantidade de linhas de todas as colunas

In [15]:
dataset.count()

id          21613
date        21613
price       21613
bedrooms    21609
dtype: int64

* Método describe() exibe informações estatísticas da base de dados
* Várias informações como desvio padrão, média, valor mínimo e valor máximo de colunas

In [17]:
dataset.describe()

                 id         price      bedrooms
count  2.161300e+04  2.161300e+04  21609.000000
mean   4.580302e+09  5.400881e+05      3.370910
std    2.876566e+09  3.671272e+05      0.930084
min    1.000102e+06  7.500000e+04      0.000000
25%    2.123049e+09  3.219500e+05      3.000000
50%    3.904930e+09  4.500000e+05      3.000000
75%    7.308900e+09  6.450000e+05      4.000000
max    9.900000e+09  7.700000e+06     33.000000

* Imprime as 5 últimas linhas

In [18]:
dataset.tail()

               id             date     price  bedrooms
21608   263000018  20140521T000000  360000.0       3.0
21609  6600060120  20150223T000000  400000.0       4.0
21610  1523300141  20140623T000000  402101.0       2.0
21611   291310100  20150116T000000  400000.0       3.0
21612  1523300157  20141015T000000  325000.0       2.0

* Imprime uma amostra aleatória do dataset

In [19]:
dataset.sample(5)

               id             date      price  bedrooms
9294   1257201095  20150323T000000   826000.0       2.0
20326  1725059127  20150225T000000  2350000.0       6.0
20189   745500010  20141208T000000   730000.0       4.0
9914   6137500310  20150213T000000  1315000.0       5.0
17387  6413600290  20140509T000000   252500.0       3.0

* Retorna um formato de tupla - quantidade de linhas e colunas do dataset

In [21]:
dataset.shape

(21613, 4)

* Imprime informações sobre cplunas e usa de memória

In [22]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 4 columns):
id          21613 non-null int64
date        21613 non-null object
price       21613 non-null float64
bedrooms    21609 non-null float64
dtypes: float64(2), int64(1), object(1)
memory usage: 675.5+ KB