In [13]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('kc_house_data.csv')

In [3]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180.0,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170.0,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770.0,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050.0,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680.0,0,1987,0,98074,47.6168,-122.045,1800,7503

## 1 Quantas casas estão disponíveis para compra?

In [4]:
#Selecionar a coluna id
#Contar o número de valores únicos

houses = len(data['id'].unique())
print ('O número de casas disponíveis é de {}'.format(houses))

O número de casas disponíveis é de 21436

## 2 Quantos atributos as casas possuem?

In [5]:
#Assumptions:
#A coluna "id" e "date" não são atributos das casas

len(data.drop(['id', 'date'], axis =1).columns)

19

## 3 Quais os atributos das casas?

In [7]:
data.drop(['id', 'date'], axis =1).columns

Index(['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15'],
      dtype='object')

## 4 Qual a casa mais cara( casa com o maior valor de venda)?

In [8]:
data[['id', 'price']].sort_values('price', ascending= False).reset_index(drop=True).loc[0,'id']

6762700020

## 5 Qual a casa com o maior número de quartos?

In [9]:
data[['id','bedrooms']].sort_values('bedrooms', ascending=False).reset_index(drop=True).loc[0,'id']

2402100895

## 6 Qual a soma total de quartos do conjunto de daodos?

In [11]:
data[ 'bedrooms'].sum()

72842.0

## 7 Quantas casas possuem 2 banheiros

In [11]:
#Estrategia
#1. Filtrar somente os "id" cujo valor da coluna "bathrooms" é igual a 2
#2. Selecionar as colunas "id" e "bathroom"
#3. Contar o número de valores da coluna "id"

len(data.loc[data['bathrooms']==2, ['id', 'bathrooms']])
houses = len(data.loc[data['bathrooms']==2, ['id', 'bathrooms']])
print('O número de casas que possuem 2 banheiros é de {}'.format(houses))

O número de casas que possuem 2 banheiros é de 1930

## 8 Qual o preço médio de todas as casas no conjunto de dados?

In [17]:
np.round(data['price'].mean(), 2)

540088.14

## 9 Qual o preço médio de casas com 2 banheiros?

In [18]:
np.round(data.loc[data['bathrooms']==2, 'price'].mean(), 2)

457889.72

## 10 Qual o preço mínimo entre as casas com 3 quartos?

In [19]:
data.loc[data['bedrooms']==3, 'price'].min()
#data.loc[data['bedrooms']==3, ['id','price']].sort_values('price',ascending=True).head()

82000.0

## 11 Quantas casas possuem mais de 300 metros quadrados na sala de estar?
#OBS: 1 pé quadrado = 0,09 metros quadrados

In [23]:
data['m2_living']=data['sqft_living']*0.093
len(data.loc[data['m2_living']>300,'id'])

2258

## 12 Quantas casas tem mais de 2 andares?

In [26]:
#data.loc[data['floors']>2, 'id'].size
len(data.loc[data['floors']>2, 'id'])

782

## 13 Quantas casas tem vista para o mar?

In [27]:
len(data.loc[data['waterfront']==1, 'id'])

163

## 14 Das casas com vista para o mar, quantas tem 3 quartos?

In [29]:
len(data.loc[(data['waterfront']==1) & (data['bedrooms']==3),'id'])

64

## 15 Das casas com mais de 300 metros quadrados de sala de estar, quantas tem mais de 2 banheiros?

In [30]:
len(data.loc[(data['m2_living']>300) & (data['bathrooms']>2),'id'])

2201